.container-fluid {
    padding: 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #495057;
  }
  
  .row > div {
    background-color: #ffffff; /* Fondo blanco para cada sección */
    border: 1px solid #dee2e6; /* Borde ligero */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
  }
  